.about-us {
    padding: 30px 0 60px;
    background-color: #FFFFFF;
    
    @media (min-width: 1024px) {
        padding: 70px 0;
    }
}

.about-us__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #383A4C;

    @media (min-width: 1024px) {
        font-size: 32px;
        line-height: 38px;
    }

    @media (min-width: 1600px) {
        font-size: 35px;
        line-height: 41px;
    }
}

.about-us__title--secondary {
    width: 134px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #383A4C;

    @media (min-width: 1024px) {
        width: 174px;
        margin-bottom: 33px;
        font-size: 20px;
        line-height: 23px;
    }

    @media (min-width: 1600px) {
        width: 189px;
        margin-bottom: 35px;
        font-size: 22px;
        line-height: 26px;
    }
}

.about-us__title--secondary::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #383A4C;
    top: 50%;
    left: 0;
}

@media (min-width: 1024px) {
    .about-us__title--secondary::before {
        width: 40px;
        height: 2px;
    }
}

@media (min-width: 1600px) {
    .about-us__title--secondary::before {
        width: 43px;
    }
}

.about-us__title--secondary::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #383A4C;
    top: 50%;
    right: 0;
}

@media (min-width: 1024px) {
    .about-us__title--secondary::after {
        width: 40px;
        height: 2px;
    }
}

@media (min-width: 1600px) {
    .about-us__title--secondary::after {
        width: 43px;
    }
}

.about-us__subtitle {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #383A4C;

    @media (min-width: 1024px) {
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 23px;
    }

    @media (min-width: 1600px) {
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 25px;
    }
}

.about-us__list {
    width: 180px;
    margin: 0 auto;
    counter-reset: item 0;

    @media (min-width: 1024px) {
        display: flex;
        width: auto;
    }
}

.about-us__list-item {
    position: relative;
    padding-top: 130px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #383A4C;
    counter-increment: item 1;

    @media (min-width: 1600px) {
        padding-top: 138px;
        font-size: 20px;
        line-height: 28px;
    }
}

.about-us__list-item:not(:last-child) {
    @media (max-width: 1023px) {
        margin-bottom: 40px;
    }
}

.about-us__list-item::before {
    content: counter(item);
    position: absolute;
    width: 104px;
    height: 104px;
    top: 0;
    margin: auto;
    right: 0;
    left: 0;
    background-color: #23C7EC;
    border-radius: 50%;
    font-weight: 500;
    font-size: 52px;
    line-height: 95px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 1600px) {
    .about-us__list-item::before {
        width: 122px;
        height: 122px;
        line-height: 110px;
    }
}