.button {
    display: block;
    border: none;
    margin: 0 auto;
    padding: 9px 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    background-color: #15a9cb;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
}

@media (min-width: 1024px) {
    .button {
        padding: 11px 49px;
        font-size: 20px;
        line-height: 23px;
    }
}