.footer {
    min-height: 127px;
    padding-top: 25px;
    padding-bottom: 0;
    background-color: #2f324b;
}

.footer__wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
    padding: 0;
    margin: 0 auto;
}

.footer__logo-text-wrapper {
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 11px;
    color: #ffffff;
}

.footer__subtitle--footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 12px 78px 19px 79px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.314);
    background-color: #2a2c3f;
}

.footer__link::after {
    content: '';
    position: absolute;
    width: 106px;
    height: 1px;
    margin: 0 auto;
    bottom: -3px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.footer__button {
    width: 24px;
    height: 24px;
    background-color: #555a7b;
    background-image: url('/img/phone_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    margin-right: 15px;
}

.footer__image {
    margin-left: 15px;
}

@media (max-width: 1023px) {
    .footer__text-wrapper {
        display: none;
    }
}

@media (max-width: 1599px) {
    .footer__span {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer__button  {
        margin-right: 45px;
    }

    .footer__image {
        margin-left: 45px;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 40px 0;
    }

    .footer__wrapper {
        max-width: 1024px;
        padding: 0 30px;
    }

    .footer__subtitle {
        font-size: 12px;
        line-height: 17px;
    }

    .footer__subtitle--footer {
        flex-basis: 0;
        font-size: 12px;
        line-height: 17px;
        background-color: transparent;
    }

    .footer__text-wrapper {
        order: 2;
        display: flex;
        flex-direction: column;
    }

    .footer__number {
        margin-bottom: 7px;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
    }

    .footer__link {
        position: relative;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }

    .footer__button {
        display: none;
    }

    .footer__image {
        margin-left: 0;
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1600px) {
    .footer {
        padding-top: 45px;
    }

    .footer__wrapper {
        max-width: 1260px;
    }

    .footer__subtitle--footer {
        flex-grow: 1;
        padding: 12px 30px;
        color: #ffffff;
    }

    .footer__number {
        margin-bottom: 3px;
        font-size: 24px;
        line-height: 28px;
    }

    .footer__link {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__link::after {
        width: 132px;
    }

    .footer__image {
        width: 68px;
        height: 68px;
    }
}