.header {
    position: absolute;
    padding-top: 15px;

    @media (min-width: 1024px) {
        padding-top: 26px;
    }

    @media (min-width: 1600px) {
        padding-top: 40px;
    }
}

.header__wrapper {
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px) {
        min-width: 964px;
    }

    @media (min-width: 1600px) {
        min-width: 1200px;
    }
}

.header__image {
    @media (min-width: 1024px) {
        width: 60px;
        height: 60px;
    }

    @media (min-width: 1600px) {
        width: 68px;
        height: 68px;
    }
}

.header__button {
    width: 24px;
    height: 24px;
    background-color: #555A7B;
    background-image: url('/img/phone_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;

    @media (min-width: 1024px) {
        display: none;
    }
}

.header__text-wrapper {
    @media (max-width: 1023px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
    }
}

.header__number {
    @media (min-width: 1024px) {
        margin-top: -6px;
        margin-bottom: 7px;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    @media (min-width: 1600px) {
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
    }
}

.header__link {
    @media (min-width: 1024px) {
        position: relative;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.header__link::after {
    content: '';
    position: absolute;
    width: 106px;
    height: 1px;
    margin: 0 auto;
    bottom: -3px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

@media (min-width: 1600px) {
    .header__link::after {
        width: 132px;
    }
}