.intro {
    padding: 110px 0 65px;
    background-color: #4a4c61;
    background-image: url('/img/background_intro_320.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
        padding: 156px 0 70px;
        background-image: url('/img/background_intro_1024.jpg');
    }

    @media (min-width: 1600px) {
        padding: 228px 0 120px;
        background-image: url('/img/background_intro_1600.jpg');
    }
}

.intro__wrapper {
    @media (min-width: 1024px) {
        width: 780px;
        margin: 0 auto;
    }

    @media (min-width: 1600px) {
        width: 990px;
    }
}

.intro__title {
    margin: 0;
    margin-bottom: 23px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.86);

    @media (min-width: 1024px) {
        margin-bottom: 27px;
        font-size: 40px;
        line-height: 47px
    }

    @media (min-width: 1600px) {
        margin-bottom: 35px;
        font-size: 52px;
        line-height: 61px;
    }
}

.intro__subtitle {
    margin: 0;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);

    @media (min-width: 1024px) {
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 25px;
    }

    @media (min-width: 1600px) {
        margin-bottom: 90px;
        font-size: 22px;
        line-height: 31px;
    }
}