.page {
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

.page__container {
        width: 320px;
        margin: 0 auto;

    @media (min-width: 1024px) {
        width: 1024px;
    }

    @media (min-width: 1600px) {
        width: 1600px;
    }
}